html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: whitesmoke;
}

.navbar {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.nav_wrapper {
  width: 100%;
  max-width: 900px;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav_menu {
  margin-left: auto;
  display: flex;
  gap: 24px;
}

a {
  color: inherit;
}
