<nav class="navbar">

  <div class="nav_wrapper">
    <div class="brand">
      <h1>Rid Hafiz</h1>
    </div>

    <menu class="nav_menu">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </menu>
  </div>

</nav>